<div class="header">
    
        <h1 class="logo">Pawn's Journey</h1>
    
    
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <button routerLink="/" routerLinkActive="selected" class="nav-button">Home</button>
                <button routerLink="courses" routerLinkActive="selected" class="nav-button">Courses</button>
                <button routerLink="fees" routerLinkActive="selected" class="nav-button">Fee Structure</button>
                <button routerLink="about" routerLinkActive="selected" class="nav-button">About</button>
                <button routerLink="contact" routerLinkActive="selected" class="nav-button">Contact</button>
                <button routerLink="chessboard" routerLinkActive="selected" class="nav-button">ChessBoard</button>
            </nav>
        </div>
    </header>
</div>
