<footer class="text-gray-600 body-font">
  <hr class="mt-5">
  <div class="container px-5 py-0 mx-auto flex flex-col items-center">
    
    <!-- Main Footer Content -->
    <h2 class="text-lg text-black-500 tracking-widest font-medium title-font mb-3 text-center">"Chess is life. The pawns are the heart of the game." - Philidor</h2>
    
  </div>
  <!-- Logo Section -->
  <div class="mb-4 mx-auto flex flex-col items-center">
    <img src="./../../assets/imagess/blob.png" alt="Logo" class="h-32 w-32"> <!-- Adjusted height for larger logo -->
  </div>

</footer>
