<div class="container">
    <div class="floating-text text-center" style="color: #ecfccb; font-weight: 700;">"Welcome to Pawn's Journey: Where Every Move Matters"</div>
    <div class="row d-none d-md-flex">
      <div class="col-md-4">
        <div class="card grandmaster-card drop-shadow-lg" style="background-color: #0f766e; box-shadow: 0 6px 8px rgba(15, 118, 110, 0.9);">
          <img src="./../../assets/imagess/Magnus.jpg" class="card-img-top" alt="Grandmaster 1">
          <div class="card-body">
            <h5 class="card-title text-white"><b>Magnus Carlsen</b></h5>
            <p class="card-text text-white">"Some people think that if their opponent plays a beautiful game, it's okay to lose. I don't. You have to be merciless."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card grandmaster-card drop-shadow-lg" style="background-color: #155e75; box-shadow: 0 6px 8px rgba(21, 94, 117, 1);">
          <img src="./../../assets/imagess/vishy.jpg" class="card-img-top" alt="Grandmaster 2">
          <div class="card-body">
            <h5 class="card-title text-white"><b>Viswanathan Anand</b></h5>
            <p class="card-text text-white">"I don't believe in psychology. I believe in good moves."</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card grandmaster-card drop-shadow-lg" style="background-color: #404040; box-shadow: 0 6px 8px rgba(64, 64, 64, 0.9);">
          <img src="./../../assets/imagess/juditportrait-26.jpg" class="card-img-top" alt="Grandmaster 3">
          <div class="card-body">
            <h5 class="card-title text-white"><b>Judit Polgar</b></h5>
            <p class="card-text text-white">"If you wish to succeed, you must brave the risk of failure."</p>
          </div>
        </div>
      </div>
    </div>
    <div id="grandmasterCarousel" class="carousel slide d-md-none" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card grandmaster-card drop-shadow-lg" style="background-color: #0f766e; box-shadow: 0 6px 8px rgba(15, 118, 110, 0.9);">
            <img src="./../../assets/imagess/Magnus.jpg" class="card-img-top" alt="Grandmaster 1">
            <div class="card-body">
              <h5 class="card-title text-white"><b>Magnus Carlsen</b></h5>
              <p class="card-text text-white">"Some people think that if their opponent plays a beautiful game, it's okay to lose. I don't. You have to be merciless."</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card grandmaster-card drop-shadow-lg" style="background-color: #155e75; box-shadow: 0 6px 8px rgba(21, 94, 117, 1);">
            <img src="./../../assets/imagess/vishy.jpg" class="card-img-top" alt="Grandmaster 2">
            <div class="card-body">
              <h5 class="card-title text-white"><b>Viswanathan Anand</b></h5>
              <p class="card-text text-white">"I don't believe in psychology. I believe in good moves."</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card grandmaster-card drop-shadow-lg" style="background-color: #404040; box-shadow: 0 6px 8px rgba(64, 64, 64, 0.9);">
            <img src="./../../assets/imagess/juditportrait-26.jpg" class="card-img-top" alt="Grandmaster 3">
            <div class="card-body">
              <h5 class="card-title text-white"><b>Judit Polgar</b></h5>
              <p class="card-text text-white">"If you wish to succeed, you must brave the risk of failure."</p>
            </div>
          </div>
        </div>
      </div>
     
      
  </div>
  <br><br><br>
  <section class="text-white body-font">
    <div class="container px-3 py-10 mx-2">
      <div class="flex flex-wrap -m-4">
        <div class="p-4 lg:w-1/3">
          <div class="card h-full bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #0f766e; box-shadow: 0 6px 8px rgba(15, 118, 110, 0.9);">
            <h2 class="tracking-widest text-xs title-font font-medium text-white mb-1">TRAINING</h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white shadow-lg mb-3">Chess Training</h1>
            <p class="leading-relaxed mb-3 text-white">Offering comprehensive group and one-on-one sessions tailored to improve your chess skills and strategies.</p>
          </div>
        </div>
  
        <div class="p-4 lg:w-1/3">
          <div class="card h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #155e75; box-shadow: 0 6px 8px rgba(21, 94, 117, 1);">
            <h2 class="tracking-widest text-xs title-font font-medium text-white mb-1">PRACTICE</h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white shadow-lg mb-3">Regular Practice</h1>
            <p class="leading-relaxed mb-3 text-white">Engage in consistent practice sessions to sharpen your tactics, improve your gameplay, and stay ahead of the competition.</p>
          </div>
        </div>
  
        <div class="p-4 lg:w-1/3">
          <div class="card h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #404040; box-shadow: 0 6px 8px rgba(64, 64, 64, 0.9);">
            <h2 class="tracking-widest text-xs title-font font-medium text-white mb-1">CURRICULUM</h2>
            <h1 class="title-font sm:text-2xl text-xl font-medium text-white shadow-lg mb-3">Structured Curriculum</h1>
            <p class="leading-relaxed mb-3 text-white">Follow a well-defined curriculum designed to systematically develop your chess skills from basic to advanced levels.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="why-chess-container">
    <h1 class="logo" style="color: #166534; font-weight: 700;">Why Chess?</h1>
    <p class="logo" style="color: #0f766e; font-weight: 500;">Chess is a game of strategy, foresight, and skill. It helps develop critical thinking, improves memory, and enhances problem-solving abilities. Join us on a journey to sharpen your mind and unleash your inner grandmaster.</p>
  </div>
  
  
</div>
