<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-10 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="w-full">
        <p *ngIf="paymentStatusMessage" class="text-center text-lg font-medium text-green-600">{{ paymentStatusMessage }}</p>
      </div>

      <!-- BEGINNER -->
      <div class="p-4 lg:w-1/3">
        <div class="card h-full bg-opacity-75 px-4 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #0f766e; box-shadow: 0 6px 8px rgba(15, 118, 110, 0.9);">
          <h2 class="tracking-widest text-lg title-font font-medium text-white shadow-lg mb-1">BEGINNER</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">₹1500/Month</h1>
          <p class="leading-relaxed mb-3 text-white">Checkmate your boredom with our exciting and interactive beginner chess sessions. Unleash your inner grandmaster!</p>
          <button (click)="openPayment('BEGINNER', 1500)" class="mt-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Pay Now</button>
        </div>
      </div>

      <!-- INTERMEDIATE -->
      <div class="p-4 lg:w-1/3">
        <div class="card h-full bg-opacity-75 px-4 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #155e75; box-shadow: 0 6px 8px rgba(21, 94, 117, 1);">
          <h2 class="tracking-widest text-lg title-font font-medium text-white shadow-lg mb-1">INTERMEDIATE</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">₹2500/Month</h1>
          <p class="leading-relaxed mb-3 text-white">Elevate your game to the next level with our intermediate chess sessions. Sharpen your tactical prowess and strategic thinking!</p>
          <button (click)="openPayment('INTERMEDIATE', 2500)" class="mt-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Pay Now</button>
        </div>
      </div>

      <!-- ADVANCED -->
      <div class="p-4 lg:w-1/3">
        <div class="card h-full bg-opacity-75 px-4 pt-16 pb-24 rounded-lg overflow-hidden text-center relative" style="background-color: #404040; box-shadow: 0 6px 8px rgba(64, 64, 64, 0.9);">
          <h2 class="tracking-widest text-lg title-font font-medium text-white shadow-lg mb-1">ADVANCED</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-white mb-3">₹3000/Month</h1>
          <p class="leading-relaxed mb-3 text-white">Become a chess virtuoso with our advanced chess sessions. Delve into intricate strategies and master-level gameplay!</p>
          <button (click)="openPayment('ADVANCED', 3000)" class="mt-4 text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Pay Now</button>
        </div>
      </div>
    </div>
  </div>
</section>
