
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

<section class="text-gray-600 body-font">
    <div class="container mx-auto flex px-5 py-10 items-start justify-center flex-col lg:flex-row">
        <div class="text-left lg:w-2/3 w-full lg:pr-10">
            <h1 class="logo title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Us</h1>
            <p class="logo mb-8 leading-relaxed" style="color: #f59e0b;">
                "Our institute is dedicated to providing the best chess learning experience for beginners and intermediate players alike. Whether you're looking to earn your FIDE rating or simply want to enhance your skills as a club player, our expert instructors are here to guide you every step of the way.
                With over a year of experience in teaching chess, we understand the unique needs of each student. Our carefully curated curriculum and organized chess materials ensure that you receive comprehensive instruction tailored to your skill level.
                Join us today and embark on your journey to becoming a confident and skilled chess player!"
            </p>
        </div>
        <div class="trainer-details lg:w-1/3 w-full text-center lg:text-left">
            <img class="logo w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
            <h2 class="logo title-font sm:text-2xl text-xl font-medium text-gray-900">Yashwant Telang</h2>
            <p class="logo leading-relaxed" style="color: #0f766e; font-weight: 500;">
                "I am a passionate chess instructor with over a year of experience in teaching students of various skill levels. My goal is to help you improve your game and achieve your chess ambitions."
                <br><a style="color: greeen; font-weight:800;" href="https://ratings.fide.com/profile/35079328" target="_blank">Fide Profile</a>
            </p>
        </div>
    </div>
</section>
