
<section class="container">

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-col">
      <div class="lg:w-4/6 mx-auto">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="../../assets/imagess/chessimg.jpg">
        </div>
        <div class="flex flex-col sm:flex-row mt-10">
          <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
            </div>
            <div class="flex flex-col items-center text-center justify-center">
              <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Yashwant Telang</h2>
              <p class="text-gray-500">Founder</p>
              
              <p class="text-base">I am a passionate chess instructor with over a year of experience in teaching students of various skill levels. I have represented my university and competed at the All India level, bringing valuable tournament experience to my teaching. With a FIDE rating of 1715, my goal is to help you improve your game and achieve your chess ambitions.</p>
            </div>
          </div>
          <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-5 pt-4 sm:mt-0 text-center sm:text-left">
            <p class="leading-relaxed text-lg mb-4">Our institute is dedicated to providing the best chess learning experience for beginners and intermediate players alike. Whether you're looking to earn your FIDE rating or simply want to enhance your skills as a club player, our expert instructors are here to guide you every step of the way.
              With over a year of experience in teaching chess, we understand the unique needs of each student. Our carefully curated curriculum and organized chess materials ensure that you receive comprehensive instruction tailored to your skill level.
              Join us today and embark on your journey to becoming a confident and skilled chess player!</p>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <div class=" ">
    
      <div class="text-left w-full mb-10">
          <h1 class="logo title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">About Us</h1>
          <img class=" w-20 h-20 rounded-full lg:mx-0 mb-4 items-start" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
          
          <h5 class=" title-font sm:text-2xl font-medium text-gray-900">Yashwant Telang (Founder)</h5>
          <p class=" w-auto" style="color: #0f766e; font-weight: 500;">
              I am a passionate chess instructor with over a year of experience in teaching students of various skill levels. I have represented my university and competed at the All India level, bringing valuable tournament experience to my teaching. With a FIDE rating of 1715, my goal is to help you improve your game and achieve your chess ambitions.
              <br><a style="color: greeen; font-weight:800;" href="https://ratings.fide.com/profile/35079328" target="_blank">Fide Profile</a>
          </p>
          
          <br>
          <p class=" mb-8 leading-relaxed" style="color: #f59e0b;">
              "Our institute is dedicated to providing the best chess learning experience for beginners and intermediate players alike. Whether you're looking to earn your FIDE rating or simply want to enhance your skills as a club player, our expert instructors are here to guide you every step of the way.
              With over a year of experience in teaching chess, we understand the unique needs of each student. Our carefully curated curriculum and organized chess materials ensure that you receive comprehensive instruction tailored to your skill level.
              Join us today and embark on your journey to becoming a confident and skilled chess player!"
          </p>
      </div>
  </div> -->
</section>

<section class="container">
      <!-- Trainers Section (Moved below About Us) -->
      <div class="text-gray-600 body-font trainer-details w-full text-center">
          <h3 class=" title-font sm:text-4xl text-3xl mb-4  text-gray-800">Trainers</h3>
          <div id="aboutUsCarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner trainer-details">

                  <div class="carousel-item">
                      <div class="card">
                          <div class="card-body">
                              <img class="w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
                              <h5 class="card-title">Swapnil Kant</h5>
                              <p class="card-text mb-8">"Swapnil is an experienced chess player with a classical rating of 1726. His extensive experience in tournament play provides him with a deep insight into advanced chess strategies and endgame techniques. Swapnil's teaching approach focuses on helping students develop a well-rounded game."</p>
                          </div>
                      </div>
                  </div>  
                  <div class="carousel-item active">
                      <div class="card">
                      <div class="card-body">
                          <img class=" w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
                          <h5 class="card-title ">Shreyas</h5>
                          <p class="card-text mb-8">With over 4 years of experience as a Chess Coach, I've trained 30+ students and I have led my University team as captain for 3 years and won the Chess Championship twice. My coaching philosophy is to nurture and unlock the potential in every chess player, whether you're just starting out or aiming for the grandmaster title.</p>
                      </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                      <div class="card">
                      <div class="card-body">
                          <img class=" w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
                          <h5 class="card-title ">Prithviraj Chaudhari</h5>
                          <p class="card-text mb-8">"Pruthviraj is a formidable chess player with a rapid rating of 1822. His mastery of opening theory and solid mid-game strategies sets him apart as a coach who can guide students to achieve significant improvements in their gameplay. "</p>
                      </div>
                      </div>
                  </div>
                
              </div>
              <button class="carousel-control-prev aboutUs-prev" type="button" data-bs-target="#aboutUsCarousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next aboutUs-next" type="button" data-bs-target="#aboutUsCarousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="false"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>
      </div>
  
</section>
<!-- 

<section>
  <h1 class="logo title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900 text-center">Feedback from some of our players</h1>
  <div id="studentTestimonialsCarousel" class="container carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner trainer-details">
          <div class="carousel-item active">
              <div class="card">
                  <div class="card-body">
                      <img class="logo w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="../../assets/imagess/Swara.jpg">
                      <p class="card-text">Yashwant Sir taught me both basic and advanced chess using various methods that helped me learn quickly. His teaching style is exceptional, starting from the basics, like the names of the pieces, and gradually building my interest in the game. Chess, under his guidance, has sharpened my mind and improved my focus. With his help, I've solved many puzzles and won several trophies and certificates in chess.</p>
                      <h5 class="card-title">- Swara Deshmukh</h5>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="card">
                  <div class="card-body">
                      <img class="logo w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
                      <p class="card-text">"I love the curriculum and the way it is taught. The institute really cares about its students."</p>
                      <h5 class="card-title">- Jane Smith</h5>
                  </div>
              </div>
          </div>
          <div class="carousel-item">
              <div class="card">
                  <div class="card-body">
                      <img class="logo w-40 h-40 rounded-full mx-auto lg:mx-0 mb-4" alt="trainer" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5dgckCEFdaR4QrzY1cdQTF_VzmwmPkSV2UA&s">
                      <p class="card-text">"Great facilities, amazing teachers, and a wonderful community. I'm glad I chose this institute."</p>
                      <h5 class="card-title">- Mary Johnson</h5>
                  </div>
              </div>
          </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#studentTestimonialsCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#studentTestimonialsCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="false"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
  
</section>
 -->
